Repository antonputra/tutorials, pull requests merged in 2024-12, with the labels that each got.

#363 Redis vs Dragonfly Performance (Latency - Throughput - Saturation)
  README.md
  assets/227.png
  assets/228.png
  docs/contents.md
  lessons/228/README.md
  lessons/228/client/.dockerignore
  lessons/228/client/Dockerfile
  lessons/228/client/config.go
  lessons/228/client/config.yaml
  lessons/228/client/go.mod
  lessons/228/client/go.sum
  lessons/228/client/main.go
  lessons/228/client/user.go
  lessons/228/client/workflow.go
  lessons/228/dragonfly.conf
  lessons/228/monitoring/dragonfly-client.yaml
  lessons/228/monitoring/redis-client.yaml
  lessons/228/redis.conf
  lessons/228/tests/1-test/0-config.yaml
  lessons/228/tests/1-test/1-dragonfly.yaml
  lessons/228/tests/1-test/2-redis.yaml
  lessons/228/tests/2-test/0-config.yaml
  lessons/228/tests/2-test/1-dragonfly.yaml
  lessons/228/tests/2-test/2-redis.yaml
Labels: new-lesson, redis, dragonfly

#364 FASTEST Go Web Framework: gnet vs fiber vs fasthttp vs net/http?
  README.md
  assets/228.png
  assets/229.png
  docs/contents.md
  lessons/229/README.md
  lessons/229/deploy/fasthttp-app/0-config.yaml
  lessons/229/deploy/fasthttp-app/1-deployment.yaml
  lessons/229/deploy/fasthttp-app/2-service.yaml
  lessons/229/deploy/fasthttp-app/3-pod-monitor.yaml
  lessons/229/deploy/fasthttp-app/4-client-pod-monitor.yaml
  lessons/229/deploy/fiber-app/0-config.yaml
  lessons/229/deploy/fiber-app/1-deployment.yaml
  lessons/229/deploy/fiber-app/2-service.yaml
  lessons/229/deploy/fiber-app/3-pod-monitor.yaml
  lessons/229/deploy/fiber-app/4-client-pod-monitor.yaml
  lessons/229/deploy/gnet-app/0-config.yaml
  lessons/229/deploy/gnet-app/1-deployment.yaml
  lessons/229/deploy/gnet-app/2-service.yaml
  lessons/229/deploy/gnet-app/3-pod-monitor.yaml
  lessons/229/deploy/gnet-app/4-client-pod-monitor.yaml
  lessons/229/deploy/stdlib-app/0-config.yaml
  lessons/229/deploy/stdlib-app/1-deployment.yaml
  lessons/229/deploy/stdlib-app/2-service.yaml
  lessons/229/deploy/stdlib-app/3-pod-monitor.yaml
  lessons/229/deploy/stdlib-app/4-client-pod-monitor.yaml
  lessons/229/migration/0-sql.yaml
  lessons/229/migration/1-sql-migration.yaml
  lessons/229/myapp/.dockerignore
  lessons/229/myapp/Dockerfile
  lessons/229/myapp/cmd/fasthttp/main.go
  lessons/229/myapp/cmd/fasthttp/server.go
  lessons/229/myapp/cmd/fiber/main.go
  lessons/229/myapp/cmd/fiber/server.go
  lessons/229/myapp/cmd/gnet/main.go
  lessons/229/myapp/cmd/gnet/server.go
  lessons/229/myapp/cmd/stdlib/main.go
  lessons/229/myapp/cmd/stdlib/server.go
  lessons/229/myapp/config.yaml
  lessons/229/myapp/config/config.go
  lessons/229/myapp/db/db.go
  lessons/229/myapp/device/device.go
  lessons/229/myapp/go.mod
  lessons/229/myapp/go.sum
  lessons/229/tests/1-test/0-config.yaml
  lessons/229/tests/1-test/1-tls.yaml
  lessons/229/tests/1-test/2-stdlib-client.yaml
  lessons/229/tests/1-test/3-gnet-client.yaml
  lessons/229/tests/1-test/4-fiber-client.yaml
  lessons/229/tests/1-test/5-fasthttp-client.yaml
  lessons/229/tests/2-test/0-config.yaml
  lessons/229/tests/2-test/1-tls.yaml
  lessons/229/tests/2-test/2-stdlib-client.yaml
  lessons/229/tests/2-test/3-gnet-client.yaml
  lessons/229/tests/2-test/4-fiber-client.yaml
  lessons/229/tests/2-test/5-fasthttp-client.yaml
Labels: go, new-lesson

#365 Reduce postgresql IOPS and configure it to handle writes like mongodb
  lessons/227/migration/0-sql.yaml
Labels: improvement, postgresql

#367 Fix the inefficient usage of gnet
  lessons/229/myapp/cmd/gnet/main.go
  lessons/229/myapp/cmd/gnet/server.go
Labels: improvement, go

#368 Fix the case of Transfer-Encoding: chunked
  lessons/229/myapp/cmd/gnet/server.go
Labels: improvement, go

#369 Elixir vs Go (Golang) Performance (Latency - Throughput - Saturation …
  README.md
  assets/229.png
  assets/230.png
  docs/contents.md
  lessons/230/README.md
  lessons/230/deploy/elixir-app/0-deployment.yaml
  lessons/230/deploy/elixir-app/1-service.yaml
  lessons/230/deploy/elixir-app/2-pod-monitor.yaml
  lessons/230/deploy/elixir-app/3-client-pod-monitor.yaml
  lessons/230/deploy/go-app/0-config.yaml
  lessons/230/deploy/go-app/1-deployment.yaml
  lessons/230/deploy/go-app/2-service.yaml
  lessons/230/deploy/go-app/3-pod-monitor.yaml
  lessons/230/deploy/go-app/4-client-pod-monitor.yaml
  lessons/230/elixir-app/.formatter.exs
  lessons/230/elixir-app/.gitignore
  lessons/230/elixir-app/Dockerfile
  lessons/230/elixir-app/README.md
  lessons/230/elixir-app/config/config.exs
  lessons/230/elixir-app/config/dev.exs
  lessons/230/elixir-app/config/prod.exs
  lessons/230/elixir-app/config/runtime.exs
  lessons/230/elixir-app/lib/app/application.ex
  lessons/230/elixir-app/lib/app/device.ex
  lessons/230/elixir-app/lib/app/release.ex
  lessons/230/elixir-app/lib/app/repo.ex
  lessons/230/elixir-app/lib/app/router.ex
  lessons/230/elixir-app/lib/app/telemetry.ex
  lessons/230/elixir-app/lib/app/telemetry/bucket.ex
  lessons/230/elixir-app/mix.exs
  lessons/230/elixir-app/mix.lock
  lessons/230/elixir-app/priv/repo/migrations/.formatter.exs
  lessons/230/elixir-app/priv/repo/migrations/20241108023931_create_devices.exs
  lessons/230/elixir-app/rel/env.sh.eex
  lessons/230/elixir-app/rel/overlays/bin/migrate
  lessons/230/elixir-app/rel/overlays/bin/server
  lessons/230/elixir-app/rel/remote.vm.args.eex
  lessons/230/elixir-app/rel/vm.args.eex
  lessons/230/go-app/.dockerignore
  lessons/230/go-app/Dockerfile
  lessons/230/go-app/config.go
  lessons/230/go-app/config.yaml
  lessons/230/go-app/db.go
  lessons/230/go-app/device.go
  lessons/230/go-app/go.mod
  lessons/230/go-app/go.sum
  lessons/230/go-app/main.go
  lessons/230/go-app/routes.go
  lessons/230/go-app/server.go
  lessons/230/migration/0-sql.yaml
  lessons/230/migration/1-sql-migration.yaml
  lessons/230/postgresql.conf
  lessons/230/tests/1-test/0-config.yaml
  lessons/230/tests/1-test/1-tls.yaml
  lessons/230/tests/1-test/2-go-client.yaml
  lessons/230/tests/1-test/3-elixir-client.yaml
  lessons/230/tests/2-test/0-config.yaml
  lessons/230/tests/2-test/1-tls.yaml
  lessons/230/tests/2-test/2-go-client.yaml
  lessons/230/tests/2-test/3-elixir-client.yaml
Labels: go, new-lesson, elixir

#370 Make benchmarks with Elixir fairer
  lessons/230/elixir-app/config/runtime.exs
  lessons/230/elixir-app/lib/app/device.ex
  lessons/230/elixir-app/lib/app/router.ex
  lessons/230/elixir-app/priv/repo/migrations/20241108023931_create_devices.exs
Labels: improvement, elixir

#372 Use asyncpg in Python (231)
  lessons/231/deploy/python-app/0-deployment.yaml
  lessons/231/python-app/db.py
  lessons/231/python-app/main.py
  lessons/231/python-app/requirements.txt
Labels: improvement, python

#373 Use ORJSONResponse for static data in Python (231)
  lessons/231/python-app/main.py
  lessons/231/python-app/requirements.txt
Labels: improvement, python

#375 Replace SQLModel with SQLAlchemy and Optimize Query Performance
  lessons/231/python-app/db.py
  lessons/231/python-app/main.py
  lessons/231/python-app/models.py
  lessons/231/python-app/requirements.txt
Labels: improvement, python

#377 perf: async memcached using asyncer
  lessons/231/python-app/main.py
  lessons/231/python-app/requirements.txt
Labels: improvement, python

#379 remove async when not necessary
  lessons/231/python-app/main.py
Labels: improvement, python

#380 remove SQLAlchemy ORM
  lessons/231/python-app/db.py
  lessons/231/python-app/main.py
  lessons/231/python-app/models.py
  lessons/231/python-app/requirements.txt
  lessons/231/python-app/schema.sql
Labels: improvement, python

#387 Update Gunicorn for Production
  lessons/231/python-app/Dockerfile
  lessons/231/python-app/db.py
  lessons/231/python-app/main.py
  lessons/231/python-app/requirements.txt
Labels: improvement, python

#391 Improve fastapi perfs
  lessons/232/python-app/main.py
Labels: improvement, python

#392 feat: litestar application
  lessons/232/python-litestar-app/.dockerignore
  lessons/232/python-litestar-app/.gitignore
  lessons/232/python-litestar-app/Dockerfile
  lessons/232/python-litestar-app/db.py
  lessons/232/python-litestar-app/main.py
  lessons/232/python-litestar-app/metrics.py
  lessons/232/python-litestar-app/requirements.txt
  lessons/232/python-litestar-app/schema.sql
Labels: improvement, python

#393 Elixir vs Go Performance Benchmark (Round 2)
  README.md
  assets/232.png
  assets/233.png
  docs/contents.md
  lessons/233/README.md
  lessons/233/deploy/elixir-app/0-deployment.yaml
  lessons/233/deploy/elixir-app/1-service.yaml
  lessons/233/deploy/elixir-app/2-pod-monitor.yaml
  lessons/233/deploy/elixir-app/3-client-pod-monitor.yaml
  lessons/233/deploy/go-app/0-config.yaml
  lessons/233/deploy/go-app/1-deployment.yaml
  lessons/233/deploy/go-app/2-service.yaml
  lessons/233/deploy/go-app/3-pod-monitor.yaml
  lessons/233/deploy/go-app/4-client-pod-monitor.yaml
  lessons/233/elixir-app/.formatter.exs
  lessons/233/elixir-app/.gitignore
  lessons/233/elixir-app/Dockerfile
  lessons/233/elixir-app/README.md
  lessons/233/elixir-app/config/config.exs
  lessons/233/elixir-app/config/dev.exs
  lessons/233/elixir-app/config/prod.exs
  lessons/233/elixir-app/config/runtime.exs
  lessons/233/elixir-app/lib/app/application.ex
  lessons/233/elixir-app/lib/app/device.ex
  lessons/233/elixir-app/lib/app/release.ex
  lessons/233/elixir-app/lib/app/repo.ex
  lessons/233/elixir-app/lib/app/router.ex
  lessons/233/elixir-app/lib/app/telemetry.ex
  lessons/233/elixir-app/lib/app/telemetry/bucket.ex
  lessons/233/elixir-app/mix.exs
  lessons/233/elixir-app/mix.lock
  lessons/233/elixir-app/priv/repo/migrations/.formatter.exs
  lessons/233/elixir-app/priv/repo/migrations/20241108023931_create_devices.exs
  lessons/233/elixir-app/rel/env.sh.eex
  lessons/233/elixir-app/rel/overlays/bin/migrate
  lessons/233/elixir-app/rel/overlays/bin/server
  lessons/233/elixir-app/rel/remote.vm.args.eex
  lessons/233/elixir-app/rel/vm.args.eex
  lessons/233/go-app/.dockerignore
  lessons/233/go-app/Dockerfile
  lessons/233/go-app/config.go
  lessons/233/go-app/config.yaml
  lessons/233/go-app/db.go
  lessons/233/go-app/device.go
  lessons/233/go-app/go.mod
  lessons/233/go-app/go.sum
  lessons/233/go-app/main.go
  lessons/233/go-app/routes.go
  lessons/233/go-app/server.go
  lessons/233/migration/0-sql.yaml
  lessons/233/migration/1-sql-migration.yaml
  lessons/233/tests/1-test/0-config.yaml
  lessons/233/tests/1-test/1-tls.yaml
  lessons/233/tests/1-test/2-go-client.yaml
  lessons/233/tests/1-test/3-elixir-client.yaml
  lessons/233/tests/2-test/0-config.yaml
  lessons/233/tests/2-test/1-tls.yaml
  lessons/233/tests/2-test/2-go-client.yaml
  lessons/233/tests/2-test/3-elixir-client.yaml
Labels: improvement, elixir

#394 Update vm.args.eex
  lessons/233/elixir-app/rel/vm.args.eex
Labels: improvement, elixir

#395 PostgreSQL vs Amazon RDS: Performance & Price
  README.md
  assets/233.png
  assets/234.png
  docs/contents.md
  lessons/234/README.md
  lessons/234/client/.dockerignore
  lessons/234/client/Dockerfile
  lessons/234/client/config.go
  lessons/234/client/config.yaml
  lessons/234/client/db.go
  lessons/234/client/go.mod
  lessons/234/client/go.sum
  lessons/234/client/main.go
  lessons/234/client/store.go
  lessons/234/migration/0-sql.yaml
  lessons/234/migration/1-rds.yaml
  lessons/234/migration/2-postgres-sql-migration.yaml
  lessons/234/migration/3-rds-sql-migration.yaml
  lessons/234/monitoring/postgres-pod-monitor.yaml
  lessons/234/monitoring/rds-pod-monitor.yaml
  lessons/234/test/0-postgres-config.yaml
  lessons/234/test/1-rds-config.yaml
  lessons/234/test/2-postgres-client.yaml
  lessons/234/test/3-rds-client.yaml
Labels: postgresql, new-lesson

#396 Elixir disable busywait for dirty and io schedulers
  lessons/233/elixir-app/rel/vm.args.eex
Labels: improvement, elixir
