Repository antonputra/tutorials, pull requests merged in 2024-11, with the labels that each got.

#343 Ruby vs Node.js: Performance Benchmark
  README.md
  assets/221.png
  assets/222.png
  docs/contents.md
  lessons/222/README.md
  lessons/222/deploy/node-app/0-config.yaml
  lessons/222/deploy/node-app/1-deployment.yaml
  lessons/222/deploy/node-app/2-service.yaml
  lessons/222/deploy/node-app/3-pod-monitor.yaml
  lessons/222/deploy/node-app/4-client-pod-monitor.yaml
  lessons/222/deploy/ruby-app/0-config.yaml
  lessons/222/deploy/ruby-app/1-deployment.yaml
  lessons/222/deploy/ruby-app/2-service.yaml
  lessons/222/deploy/ruby-app/3-pod-monitor.yaml
  lessons/222/deploy/ruby-app/4-client-pod-monitor.yaml
  lessons/222/migration/0-sql.yaml
  lessons/222/migration/1-sql-migration.yaml
  lessons/222/node-app/.dockerignore
  lessons/222/node-app/Dockerfile
  lessons/222/node-app/app.js
  lessons/222/node-app/config.js
  lessons/222/node-app/config.yaml
  lessons/222/node-app/db.js
  lessons/222/node-app/devices.js
  lessons/222/node-app/metrics.js
  lessons/222/node-app/package-lock.json
  lessons/222/node-app/package.json
  lessons/222/ruby-app/.dockerignore
  lessons/222/ruby-app/.gitattributes
  lessons/222/ruby-app/.gitignore
  lessons/222/ruby-app/.ruby-version
  lessons/222/ruby-app/Dockerfile
  lessons/222/ruby-app/Gemfile
  lessons/222/ruby-app/README.md
  lessons/222/ruby-app/Rakefile
  lessons/222/ruby-app/bin/docker-entrypoint
  lessons/222/ruby-app/bin/iodine
  lessons/222/ruby-app/bin/rake
  lessons/222/ruby-app/config.ru
  lessons/222/ruby-app/db/config.yml
  lessons/222/ruby-app/db/migrate/20241028151432_create_devices.rb
  lessons/222/ruby-app/db/schema.rb
  lessons/222/ruby-app/db/seeds.rb
  lessons/222/ruby-app/src/app.rb
  lessons/222/ruby-app/src/device.rb
  lessons/222/ruby-app/src/prometheus_client.rb
  lessons/222/ruby-app/tmp/.keep
  lessons/222/ruby-app/wrk.lua
  lessons/222/tests/1-test/0-config.yaml
  lessons/222/tests/1-test/1-tls.yaml
  lessons/222/tests/1-test/2-node-client.yaml
  lessons/222/tests/1-test/3-ruby-client.yaml
  lessons/222/tests/2-test/0-config.yaml
  lessons/222/tests/2-test/1-tls.yaml
  lessons/222/tests/2-test/2-node-client.yaml
  lessons/222/tests/2-test/3-rails-client.yaml
Labels: ruby, new-lesson, node

#345 feat: add elixir with bandit
  lessons/182/go.work.sum
  lessons/222/deploy/elixir-app/1-deployment.yaml
  lessons/222/deploy/elixir-app/2-service.yaml
  lessons/222/deploy/elixir-app/3-pod-monitor.yaml
  lessons/222/deploy/elixir-app/4-client-pod-monitor.yaml
  lessons/222/elixir-app/.formatter.exs
  lessons/222/elixir-app/.gitignore
  lessons/222/elixir-app/Dockerfile
  lessons/222/elixir-app/README.md
  lessons/222/elixir-app/config/config.exs
  lessons/222/elixir-app/config/dev.exs
  lessons/222/elixir-app/config/prod.exs
  lessons/222/elixir-app/config/runtime.exs
  lessons/222/elixir-app/lib/app/application.ex
  lessons/222/elixir-app/lib/app/device.ex
  lessons/222/elixir-app/lib/app/release.ex
  lessons/222/elixir-app/lib/app/repo.ex
  lessons/222/elixir-app/lib/app/router.ex
  lessons/222/elixir-app/lib/app/telemetry.ex
  lessons/222/elixir-app/lib/app/telemetry/bucket.ex
  lessons/222/elixir-app/mix.exs
  lessons/222/elixir-app/mix.lock
  lessons/222/elixir-app/priv/repo/migrations/.formatter.exs
  lessons/222/elixir-app/priv/repo/migrations/20241108023931_create_devices.exs
  lessons/222/elixir-app/rel/env.sh.eex
  lessons/222/elixir-app/rel/overlays/bin/migrate
  lessons/222/elixir-app/rel/overlays/bin/server
  lessons/222/elixir-app/rel/remote.vm.args.eex
  lessons/222/elixir-app/rel/vm.args.eex
  lessons/222/migration/0-sql.yaml
  lessons/222/tests/1-test/4-elixir-client.yaml
  lessons/222/tests/2-test/3-elixir-client.yaml
Labels: proposal

#349 SQLite vs PostgreSQL
  README.md
  assets/222.png
  assets/223.png
  docs/contents.md
  lessons/223/README.md
  lessons/223/client/Dockerfile
  lessons/223/client/config.go
  lessons/223/client/config.yaml
  lessons/223/client/db.go
  lessons/223/client/go.mod
  lessons/223/client/go.sum
  lessons/223/client/main.go
  lessons/223/client/metrics.go
  lessons/223/client/store.go
  lessons/223/client/utils.go
  lessons/223/postgresql.conf
Labels: postgresql, new-lesson

#346 Switch node:http to uWS C++
  lessons/222/node-app-uws/.dockerignore
  lessons/222/node-app-uws/Dockerfile
  lessons/222/node-app-uws/app.js
  lessons/222/node-app-uws/config.js
  lessons/222/node-app-uws/config.yaml
  lessons/222/node-app-uws/db.js
  lessons/222/node-app-uws/devices.js
  lessons/222/node-app-uws/metrics.js
  lessons/222/node-app-uws/package-lock.json
  lessons/222/node-app-uws/package.json
Labels: improvement, node

#350 Nginx vs Traefik: What Is the BEST Reverse Proxy?
  README.md
  assets/223.png
  assets/224.png
  docs/contents.md
  lessons/224/README.md
  lessons/224/actix-app/Cargo.lock
  lessons/224/actix-app/Cargo.toml
  lessons/224/actix-app/src/device.rs
  lessons/224/actix-app/src/main.rs
  lessons/224/actix-app/src/routes.rs
  lessons/224/monitoring/nginx-client.yaml
  lessons/224/monitoring/traefik-client.yaml
  lessons/224/nginx/myapp.conf
  lessons/224/nginx/nginx.conf
  lessons/224/tests/1-test/0-config.yaml
  lessons/224/tests/1-test/1-tls.yaml
  lessons/224/tests/1-test/2-nginx-client.yaml
  lessons/224/tests/1-test/3-traefik-client.yaml
  lessons/224/traefik/config.yaml
  lessons/224/traefik/traefik.service
  lessons/224/traefik/traefik.yaml
Labels: nginx, new-lesson, traefik

#353 Enable experimental fast proxy engine
  lessons/224/traefik/traefik.yaml
Labels: improvement, traefik

#356 Redis vs Memcached Performance Benchmark
  README.md
  assets/224.png
  assets/225.png
  docs/contents.md
  lessons/225/README.md
  lessons/225/client/.dockerignore
  lessons/225/client/Dockerfile
  lessons/225/client/config.go
  lessons/225/client/config.yaml
  lessons/225/client/go.mod
  lessons/225/client/go.sum
  lessons/225/client/main.go
  lessons/225/client/metrics.go
  lessons/225/client/user.go
  lessons/225/client/utils.go
  lessons/225/memcached.conf
  lessons/225/monitoring/memcache-client.yaml
  lessons/225/monitoring/redis-client.yaml
  lessons/225/redis.conf
  lessons/225/test/0-config.yaml
  lessons/225/test/1-memcache.yaml
  lessons/225/test/2-redis.yaml
Labels: new-lesson

#358 Improved Redis config
  lessons/225/redis.conf
Labels: improvement, redis

#359 Pingora vs Nginx Performance Benchmark
  README.md
  assets/225.png
  assets/226.png
  docs/contents.md
  lessons/226/README.md
  lessons/226/actix-app/Cargo.lock
  lessons/226/actix-app/Cargo.toml
  lessons/226/actix-app/README.md
  lessons/226/actix-app/src/device.rs
  lessons/226/actix-app/src/main.rs
  lessons/226/actix-app/src/routes.rs
  lessons/226/monitoring/nginx-client.yaml
  lessons/226/monitoring/pingora-client.yaml
  lessons/226/nginx/myapp.conf
  lessons/226/nginx/nginx.conf
  lessons/226/pingora-proxy/Cargo.lock
  lessons/226/pingora-proxy/Cargo.toml
  lessons/226/pingora-proxy/Proxy.toml
  lessons/226/pingora-proxy/conf.yaml
  lessons/226/pingora-proxy/src/config.rs
  lessons/226/pingora-proxy/src/main.rs
  lessons/226/tests/1-test/0-config.yaml
  lessons/226/tests/1-test/1-tls.yaml
  lessons/226/tests/1-test/2-nginx-client.yaml
  lessons/226/tests/1-test/3-pingora-client.yaml
Labels: nginx, new-lesson, pingora

#361 MongoDB vs. PostgreSQL: Performance & Functionality
  README.md
  assets/226.png
  assets/227.png
  docs/contents.md
  lessons/227/README.md
  lessons/227/client/Dockerfile
  lessons/227/client/config.go
  lessons/227/client/config.yaml
  lessons/227/client/go.mod
  lessons/227/client/go.sum
  lessons/227/client/main.go
  lessons/227/client/metrics.go
  lessons/227/client/mongo.go
  lessons/227/client/postgres.go
  lessons/227/client/store.go
  lessons/227/client/test.go
  lessons/227/client/utils.go
  lessons/227/compose.yaml
  lessons/227/migration/0-sql.yaml
  lessons/227/migration/1-sql-migration.yaml
  lessons/227/monitoring/mongo-client.yaml
  lessons/227/monitoring/postgres-client.yaml
  lessons/227/tests/1-test/0-config.yaml
  lessons/227/tests/1-test/1-postgres-client.yaml
  lessons/227/tests/1-test/2-mongo-client.yaml
Labels: postgresql, new-lesson, mongodb

#362 Replace the unused GIN index with a BTREE index
  lessons/227/README.md
  lessons/227/client/store.go
  lessons/227/migration/0-sql.yaml
Labels: improvement, mongodb
