Repository antonputra/tutorials, pull requests merged in 2025-01, with the labels that each got.

#400 Terraform GCP Tutorial (Getting Started with Google Cloud Platform)
  .gitignore
  README.md
  assets/234.png
  assets/235.png
  docs/contents.md
  lessons/217/deno-app/deno.lock
  lessons/220/rails-app/Gemfile.lock
  lessons/222/ruby-app/Gemfile.lock
  lessons/235/README.md
  lessons/235/terraform/.terraform.lock.hcl
  lessons/235/terraform/0-locals.tf
  lessons/235/terraform/1-providers.tf
  lessons/235/terraform/2-apis.tf
  lessons/235/terraform/3-vpc.tf
  lessons/235/terraform/4-subnets.tf
  lessons/235/terraform/5-nat.tf
  lessons/235/terraform/6-firewalls.tf
  lessons/235/terraform/terraform.tfstate
Labels: new-lesson

#402 FastAPI vs Node.js Performance
  README.md
  assets/235.png
  assets/236.png
  docs/contents.md
  lessons/236/README.md
  lessons/236/compose.yaml
  lessons/236/deploy/node-app/0-config.yaml
  lessons/236/deploy/node-app/1-deployment.yaml
  lessons/236/deploy/node-app/2-service.yaml
  lessons/236/deploy/python-app/0-deployment.yaml
  lessons/236/deploy/python-app/1-service.yaml
  lessons/236/fastapi-app/.dockerignore
  lessons/236/fastapi-app/Dockerfile
  lessons/236/fastapi-app/db.py
  lessons/236/fastapi-app/main.py
  lessons/236/fastapi-app/metrics.py
  lessons/236/fastapi-app/requirements.txt
  lessons/236/fastapi-app/schema.sql
  lessons/236/migration/0-sql.yaml
  lessons/236/migration/1-sql-migration.yaml
  lessons/236/node-app/.dockerignore
  lessons/236/node-app/Dockerfile
  lessons/236/node-app/app.js
  lessons/236/node-app/cache.js
  lessons/236/node-app/config.js
  lessons/236/node-app/config.yaml
  lessons/236/node-app/db.js
  lessons/236/node-app/devices.js
  lessons/236/node-app/metrics.js
  lessons/236/node-app/package-lock.json
  lessons/236/node-app/package.json
Labels: new-lesson, node, python

#405 VM vs Kubernetes: Performance 🚀
  README.md
  assets/236.png
  assets/237.png
  docs/contents.md
  lessons/237/README.md
  lessons/237/deploy/0-deployment.yaml
  lessons/237/deploy/1-service.yaml
  lessons/237/deploy/2-k8s-client-pod-monitor.yaml
  lessons/237/deploy/3-vm-client-pod-monitor.yaml
  lessons/237/fastapi-app/.dockerignore
  lessons/237/fastapi-app/Dockerfile
  lessons/237/fastapi-app/main.py
  lessons/237/fastapi-app/requirements.txt
  lessons/237/test/0-config.yaml
  lessons/237/test/1-tls.yaml
  lessons/237/test/2-k8s-python-client.yaml
  lessons/237/test/3-vm-python-client.yaml
Labels: new-lesson, python

#406 Use falcon host
  lessons/220/rails-app/.ruby-version
  lessons/220/rails-app/Dockerfile
  lessons/220/rails-app/Gemfile
  lessons/220/rails-app/Gemfile.lock
  lessons/220/rails-app/bin/falcon
  lessons/220/rails-app/bin/falcon-host
  lessons/220/rails-app/config/application.rb
  lessons/220/rails-app/config/database.yml
  lessons/220/rails-app/db/schema.rb
  lessons/220/rails-app/falcon.rb
  lessons/220/rails-app/preload.rb
Labels: improvement, ruby

#410 Create GKE Cluster using Terraform
  README.md
  assets/237.png
  assets/238.png
  docs/contents.md
  lessons/238/README.md
  lessons/238/terraform/.terraform.lock.hcl
  lessons/238/terraform/0-locals.tf
  lessons/238/terraform/1-providers.tf
  lessons/238/terraform/2-apis.tf
  lessons/238/terraform/3-vpc.tf
  lessons/238/terraform/4-subnets.tf
  lessons/238/terraform/5-nat.tf
  lessons/238/terraform/6-firewalls.tf
  lessons/238/terraform/7-gke.tf
  lessons/238/terraform/8-gke-nodes.tf
  lessons/238/terraform/terraform.tfstate
Labels: new-lesson

#411 FastAPI vs Go (Golang) vs Node.js: Performance & Price
  README.md
  assets/238.png
  assets/239.png
  docs/contents.md
  lessons/239/README.md
  lessons/239/fastapi-app.service
  lessons/239/fastapi-app/.dockerignore
  lessons/239/fastapi-app/Dockerfile
  lessons/239/fastapi-app/db.py
  lessons/239/fastapi-app/main.py
  lessons/239/fastapi-app/metrics.py
  lessons/239/fastapi-app/requirements.txt
  lessons/239/fastapi-app/schema.sql
  lessons/239/go-app.service
  lessons/239/go-app/.dockerignore
  lessons/239/go-app/Dockerfile
  lessons/239/go-app/cache.go
  lessons/239/go-app/config.go
  lessons/239/go-app/config.yaml
  lessons/239/go-app/db.go
  lessons/239/go-app/device.go
  lessons/239/go-app/go.mod
  lessons/239/go-app/go.sum
  lessons/239/go-app/main.go
  lessons/239/go-app/routes.go
  lessons/239/go-app/server.go
  lessons/239/migration.sql
  lessons/239/monitoring/0-go-client.yaml
  lessons/239/monitoring/1-fastapi-client.yaml
  lessons/239/monitoring/2-node-client.yaml
  lessons/239/node-app.service
  lessons/239/node-app/app.js
  lessons/239/node-app/cache.js
  lessons/239/node-app/config.js
  lessons/239/node-app/config.yaml
  lessons/239/node-app/db.js
  lessons/239/node-app/devices.js
  lessons/239/node-app/metrics.js
  lessons/239/node-app/package-lock.json
  lessons/239/node-app/package.json
  lessons/239/tests/1-test/0-config.yaml
  lessons/239/tests/1-test/1-tls.yaml
  lessons/239/tests/1-test/2-go-client.yaml
  lessons/239/tests/1-test/3-python-client.yaml
  lessons/239/tests/1-test/4-node-client.yaml
  lessons/239/tests/2-test/0-config.yaml
  lessons/239/tests/2-test/1-tls.yaml
  lessons/239/tests/2-test/2-go-client.yaml
  lessons/239/tests/2-test/3-python-client.yaml
  lessons/239/tests/2-test/4-node-client.yaml
Labels: new-lesson, node, python
