Repository antonputra/tutorials, pull requests merged in 2025-02, with the labels that each got.

#419 Rust vs. Go (Golang): Performance (Only Standard Library)
  README.md
  assets/241.png
  assets/242.png
  docs/contents.md
  lessons/242/README.md
  lessons/242/go-app.service
  lessons/242/go-app/config.go
  lessons/242/go-app/config.yaml
  lessons/242/go-app/device.go
  lessons/242/go-app/go.mod
  lessons/242/go-app/go.sum
  lessons/242/go-app/main.go
  lessons/242/go-app/routes.go
  lessons/242/go-app/server.go
  lessons/242/monitoring/0-namespace.yaml
  lessons/242/monitoring/1-go-client.yaml
  lessons/242/monitoring/2-rust-single-client.yaml
  lessons/242/monitoring/3-rust-multi-client.yaml
  lessons/242/rust-app-multi.service
  lessons/242/rust-app-single.service
  lessons/242/rust-app/Cargo.lock
  lessons/242/rust-app/Cargo.toml
  lessons/242/rust-app/src/device.rs
  lessons/242/rust-app/src/job.rs
  lessons/242/rust-app/src/main.rs
  lessons/242/rust-app/src/routes.rs
  lessons/242/rust-app/src/thread_pool.rs
  lessons/242/rust-app/src/worker.rs
  lessons/242/test/0-config.yaml
  lessons/242/test/1-tls.yaml
  lessons/242/test/2-go-client.yaml
  lessons/242/test/3-rust-single-client.yaml
  lessons/242/test/4-rust-multi-client.yaml
Labels: go, rust, new-lesson

#423 (bugfix) Terminate the connection even in case of keep-alive in order to be able to process more concurrent requests than available threads
  lessons/242/rust-app/src/main.rs
  lessons/242/rust-app/src/routes.rs
Labels: improvement, rust

#424 242: Avoid reallocation & improve perfomance for rust-app
  lessons/242/rust-app/Cargo.toml
  lessons/242/rust-app/build.rs
  lessons/242/rust-app/src/device.rs
  lessons/242/rust-app/src/main.rs
  lessons/242/rust-app/src/routes.rs
Labels: improvement, rust

#426 Rust vs. Go (Golang): Performance 2025
  README.md
  assets/242.png
  assets/243.png
  lessons/243/README.md
  lessons/243/go-app/config.go
  lessons/243/go-app/config.yaml
  lessons/243/go-app/device.go
  lessons/243/go-app/go.mod
  lessons/243/go-app/go.sum
  lessons/243/go-app/main.go
  lessons/243/go-app/routes.go
  lessons/243/go-app/server.go
  lessons/243/monitoring/0-namespace.yaml
  lessons/243/monitoring/1-go-client.yaml
  lessons/243/monitoring/2-rust-client.yaml
  lessons/243/rust-app/Cargo.lock
  lessons/243/rust-app/Cargo.toml
  lessons/243/rust-app/src/device.rs
  lessons/243/rust-app/src/main.rs
  lessons/243/rust-app/src/routes.rs
  lessons/243/test/0-config.yaml
  lessons/243/test/1-tls.yaml
  lessons/243/test/2-go-client.yaml
  lessons/243/test/3-rust-client.yaml
Labels: rust, new-lesson

#428 Rust vs. Go (Golang): Performance (Fastest Frameworks + PostgreSQL)
  README.md
  assets/243.png
  assets/244.png
  docs/contents.md
  lessons/244/README.md
  lessons/244/go-app/cmd/gnet/main.go
  lessons/244/go-app/cmd/gnet/server.go
  lessons/244/go-app/config.yaml
  lessons/244/go-app/config/config.go
  lessons/244/go-app/db/db.go
  lessons/244/go-app/device/device.go
  lessons/244/go-app/go.mod
  lessons/244/go-app/go.sum
  lessons/244/migration/0-sql.yaml
  lessons/244/migration/1-sql-migration.yaml
  lessons/244/monitoring/0-namespace.yaml
  lessons/244/monitoring/1-go-client.yaml
  lessons/244/monitoring/2-rust-client.yaml
  lessons/244/rust-app/Cargo.lock
  lessons/244/rust-app/Cargo.toml
  lessons/244/rust-app/src/device.rs
  lessons/244/rust-app/src/main.rs
  lessons/244/rust-app/src/routes.rs
  lessons/244/test-1/0-config.yaml
  lessons/244/test-1/1-tls.yaml
  lessons/244/test-1/2-go-client.yaml
  lessons/244/test-1/3-rust-client.yaml
  lessons/244/test-2/0-config.yaml
  lessons/244/test-2/1-tls.yaml
  lessons/244/test-2/2-go-client.yaml
  lessons/244/test-2/3-rust-client.yaml
  lessons/go-app-alternatives/go-app/config.go
  lessons/go-app-alternatives/go-app/config.yaml
  lessons/go-app-alternatives/go-app/device.go
  lessons/go-app-alternatives/go-app/fiber.go
  lessons/go-app-alternatives/go-app/gin.go
  lessons/go-app-alternatives/go-app/go.mod
  lessons/go-app-alternatives/go-app/go.sum
  lessons/go-app-alternatives/go-app/main.go
  lessons/go-app-alternatives/go-app/server.go
  lessons/go-app-alternatives/go-app/std.go
  lessons/go-app-alternatives/go-app/web.go
Labels: go, rust, new-lesson

#429 Reduce the size of non-changing strings
  lessons/244/rust-app/src/device.rs
  lessons/244/rust-app/src/routes.rs
Labels: improvement, rust

#431 Improve both apps for 244
  lessons/244/go-app/cmd/gnet/server.go
  lessons/244/rust-app/Cargo.lock
  lessons/244/rust-app/Cargo.toml
  lessons/244/rust-app/src/main.rs
  lessons/244/rust-app/src/routes.rs
Labels: improvement, rust

#436 Rust vs C++ Performance
  README.md
  assets/244.png
  assets/245.png
  docs/contents.md
  lessons/245/README.md
  lessons/245/drogon-app/.gitignore
  lessons/245/drogon-app/CMakeLists.txt
  lessons/245/drogon-app/config.json
  lessons/245/drogon-app/config.yaml
  lessons/245/drogon-app/controllers/demo_v1_Device.cc
  lessons/245/drogon-app/controllers/demo_v1_Device.h
  lessons/245/drogon-app/main.cc
  lessons/245/drogon-app/models/model.json
  lessons/245/drogon-app/test/CMakeLists.txt
  lessons/245/drogon-app/test/test_main.cc
  lessons/245/monitoring/0-namespace.yaml
  lessons/245/monitoring/1-cpp-client.yaml
  lessons/245/monitoring/2-rust-client.yaml
  lessons/245/rust-app/Cargo.lock
  lessons/245/rust-app/Cargo.toml
  lessons/245/rust-app/src/device.rs
  lessons/245/rust-app/src/main.rs
  lessons/245/rust-app/src/routes.rs
  lessons/245/test-1/0-config.yaml
  lessons/245/test-1/1-tls.yaml
  lessons/245/test-1/2-cpp-client.yaml
  lessons/245/test-1/3-rust-client.yaml
Labels: new-lesson, c++
